body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Montserrat', sans-serif;
}

.info-alert {
  z-index: 100;
  position: fixed;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
  pointer-events: none;
  font-size: 15px;
  font-weight: 600;
  width: 90%;
}

@media (max-width: 776px) {
  .info-alert {
    bottom: 2%;
  }
}

:root {
  --font-color: #5D4037; /* Color cálido tipo café */
  --bg-color: #F3E5AB; /* Color crema suave */
  --highlight-color: #D7CCC8; /* Gris cálido */
  --accent-color: #8D6E63; /* Color marrón claro */
  --white-color: #FFFFFF;
  --hover-color: #795548; /* Color más oscuro para el hover */
  --outline-color: #A1887F; /* Color suave para outline */
}

.btn {
  border-radius: 10px;
  color: var(--white-color);
}

.btn-primary {
  background-color: var(--accent-color);
  border-color: var(--accent-color);
}

.btn-primary:hover {
  background-color: var(--hover-color);
  border-color: var(--hover-color);
}

.btn-outline-primary {
  color: var(--accent-color);
  border-color: var(--accent-color);
}

.btn-outline-primary:hover {
  background-color: var(--accent-color);
  border-color: var(--accent-color);
  color: var(--white-color);
}

.btn-secondary {
  background-color: var(--highlight-color);
  border-color: var(--highlight-color);
}

.btn-secondary:hover {
  background-color: var(--hover-color);
  border-color: var(--hover-color);
}

.btn-outline-secondary {
  color: var(--highlight-color);
  border-color: var(--highlight-color);
}

.btn-outline-secondary:hover {
  background-color: var(--highlight-color);
  border-color: var(--highlight-color);
  color: var(--white-color);
}

.text-muted {
  color: var(--font-color);
}

.bg-primary {
  background-color: var(--bg-color);
}

.border-primary {
  border-color: var(--font-color);
}

.navbar .navbar-nav .nav-link {
  color: var(--font-color) !important;
}

/* Hover y Outline para otros elementos */
a:hover {
  color: var(--hover-color);
}

input:focus, textarea:focus, select:focus {
  outline: 2px solid var(--outline-color);
}

.border-primary:hover {
  border-color: var(--hover-color);
}
